*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    display: flex;
    justify-content: center;
    margin: auto;
    
    
    
    
}
.kısım2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid lightgray;
    margin: 40px 0px 30px 0px;
    height: 401px;
    width: 350px;
    position: relative;
    
}
form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 120px;

}
.insta{
    width: 175px;
    height: 50px;
    top: 40px;
    left: 90px;
    position: absolute;
    
    
    
}
form input{
    width: 258px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    
    
}
form input {
    padding: 6px;
    font-size: 12px;
    

}
.telephone{
    width: 470px;
    height: 635px;
    margin-top: 30px;
    
}
.resim{
    position: relative;

}
.icresim{
    width: 250px;
    position: absolute;
   left: 160px;
   top: 60px;
   animation-name: dongu;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-delay: 2s;
   animation-direction: alternate;

}
.icresim2{
    width: 250px;
    position: absolute;
   left: 160px;
   top: 60px;
   /* animation-name: dongu2;
   animation-duration: 5s;
   animation-iteration-count: infinite;
   animation-delay: 5s; */
   /* opacity: 100%; */
}
.kayıt{
    border: 1px solid lightgray;
}
form button{
    background-color: rgb(86, 159, 224);
    color: white;
    margin: 10px 0px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}
.face{
    display: flex;
    position: absolute;
    top: 320px;
    gap: 10px;

}
.face p{
    color: blue;
    ;
}
footer{
    width: 100%;
    height: 100px;
    top: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.yada{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    position: absolute;
    top: 280px;
}
.ssf{
    position: absolute;
    top: 355px;
}
.kayıt{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 410px;
    width: 350px;
    height: 70px;
    gap: 5px;
}
.yada div{
    width: 70px;
    height: 1px;
    border: 1px solid lightgray;
}
.uygulama{
    position: absolute;
    top: 500px;
    left: 120px;
}
.resimler{
    position: absolute;
    top: 532px;
}
.fot{
    font-size: 13px;
    gap:20px;
    line-height: 25px;
    color: rgb(100, 98, 98);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ftr{
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    line-height: 25px;
    word-spacing: 10px;
    color: rgb(100, 98, 98);
    
    
}
.eew{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    gap: 20px;
    color: rgb(100, 98, 98);
    margin-bottom: 15px;
    

}
.ftre{
    font-size: 13px; 
    color: rgb(100, 98, 98);
    
}
.lastt{
    gap: 10px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 13px; 
    color: rgb(100, 98, 98)
    
    
    
    
    
    

}
.ülke{
   border-color: white;
    font-size: 14px; 
    color: rgb(100, 98, 98)
    
    
}
.metaa{
    display: flex;

    align-items: center;
}
option{
   
}
@keyframes dongu{
    0% { opacity: 100%;}
    100% { opacity: 0%;}
    0% { opacity: 100%;}
    100% {opacity: 0%;}
    
}
/* @keyframes dongu2{
    0% { opacity: 0%;}
    100% { opacity: 100%;}
    0% { opacity: 0%;}
    100% {opacity: 100%;}
    
} */
@media (max-width:992px) {
   
    .fot{
        flex-direction: column;
    }
    
    
    
}
@media (max-width:830px) {
    .resim{
        display: none;
    }
    .resim{
        position: relative;
    }
    footer{
        position: absolute;
        top: 700px;
    }
}
@media (max-width:640px) {
    .ftr{
    text-align: center;

    }
}